@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Heading-CONTACT">
    <h1 class="Heading-Contact"> Contact Us</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-1">
          
        </div> <div class="col-lg-7" style="margin-top:20px;padding:20px;background-color:white;">
           
            <form>
                <div class="row" style="margin-top:15px;">
                  
                    <div class="col-lg-6" style="">
                        <label for="inputEmail4">Email</label>
                        <input style="background-color:#f7f6f6;" type="email" class="form-control" id="inputEmail4" placeholder="Enter email" required>
                    </div>
                    <div class="col-lg-6" style="">
                        <label for="inputPassword4">Password</label>
                        <input style="background-color:#f7f6f6;" type="password" class="form-control" id="inputPassword4" placeholder="Enter password" required>
                    </div>
                </div>

                <div class="form" style="">
                    <label class="mt-2" for="inputAddress">Address</label>
                    <input style="background-color:#f7f6f6;" type="text" class="form-control mt-2" id="inputAddress" placeholder="Wapda toen, f2 ,house no. ..." required>
                </div>

                <div class="form" style="">
                    <label class ="mt-2" for="inputAddress">Comment</label>
                    <textarea style="background-color:#f7f6f6;" cols="4" rows="3" type="" class="form-control mt-2" id="inputAddress" placeholder="Something you would like to tell us" required></textarea>
                </div>
               
                <button type="submit" class="btn-submit mt-5" style="padding:5px 15px ;margin:3px;border:1px solid;border-radius:10px; ">Submit</button>
            </form>
        </div>
        <div class="col-lg-3"style="margin:20px; background-color:white">
            <h6 style=" border-bottom:1px solid;  padding: 20px 11px;">Contact</h6>
            <br />
            <ul class="Accordian-ul" style="list-style-type:none;padding:0px;">
                <li style="list-style-type:none;margin-top:10px">
                    <i class="fa-solid fa-chevron-right" style="color: #747981;"></i>About Us
                </li ">

                <li style="list-style-type:none;margin-top:10px">
                    <i class="fa-solid fa-chevron-right" style="color: #747981;"></i>Terms of Service
                </li >

                <li style="list-style-type:none;margin-top:10px">
                    <i class="fa-solid fa-chevron-right" style="color: #747981;"></i>Sitemap
                </li>

                <li style="list-style-type:none;margin-top:10px">
                    <i class="fa-solid fa-chevron-right" style="color: #747981;"></i>Search Terms
                </li >

                <li style="list-style-type:none;margin-top:10px">
                    <i class="fa-solid fa-chevron-right" style="color: #747981;"></i>Contact Us
                </li>
            </ul>

        </div>
       

       
        <div class="col-lg-1">
          
        </div>
    </div>
</div>