@{
    ViewBag.Title = "Index";
}
<div class="" style="margin-top:0px;">
    <div class="home text-white center" style="padding-top:10rem;">
        <h1 class="fw-bolder mb-3" style="font-size:xxx-large">Flipmart Hot Collection</h1>
        <p>Best in town everything from home decore to kids, furnitures in under one umbrella.</p>
        <a class="text-white" style="" asp-area="" asp-controller="Home" asp-action="index">Shop Now</a>
    </div>
    <div style="background-color:lightgray">
        <div class="mx-lg-5" style="">
            <div class="row" style="text-align:center">
                <div class="col">
                    <div class="card">
                        <img src="/images/bag.jpg" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <p class="card-text">School Bag</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/lamp.jpg" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <p class="card-text">Lighting</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/bag.jpg" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <p class="card-text">School Bag</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/lamp.jpg" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <p class="card-text">Lighting</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/bag.jpg" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <p class="card-text">School Bag</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card mb-3">
                        <img src="/images/table1.jpg" height="400" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <h5 class="card-title">Imported furniture luxury table</h5>
                            <p class="card-text">lorem this table is very unique one of its kids</p>
                            <a class="text-decoration-none text-black p-1" style="border:solid 1px black; " asp-area="" asp-controller="Home" asp-action="index">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img src="/images/table2.jpg" height="400" class="card-img-top" alt="product image">
                        <div class="card-body">
                            <h5 class="card-title">Imported furniture luxury table</h5>
                            <p class="card-text">lorem this table is very unique one of its kids</p>
                            <a class="text-decoration-none text-black p-1" style="border:solid 1px black; " asp-area="" asp-controller="Home" asp-action="index">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white pb-3" style="text-align:center;display:flex;">
                <div class="p-lg-5 bg-dark">
                    <h3 class="">New Arrivals</h3>
                    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class=" text-white" style="" asp-area="" asp-controller="Home" asp-action="index">Learn More</a>
                </div>
                <div class="" style="">
                    <img src="/images/table1.jpg" width="280" alt="product image">
                </div>
                <div class="p-lg-5 bg-danger">
                    <h3 class="">New Arrivals</h3>
                    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class=" text-white" style="" asp-area="" asp-controller="Home" asp-action="index">Learn More</a>
                </div>
                <div class="" style="">
                    <img src="/images/table2.jpg" width="280" alt="product image">
                </div>
            </div>
        </div>

    </div>

</div>